.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  height: 20rem;
  width: 25rem;
  border-radius: 1.125rem;
  border: 1px solid rgb(197, 196, 196);
  overflow: hidden;
  background-color: white;
}
.headerContainer {
  background-color: #eceef3;
  height: 3rem;
}
.headerContainer h3 {
  margin-left: 1rem;
}
.socialsContainer {
  display: flex;
  flex-direction: column;
  height: 17rem;
}
