.container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-right: 1rem;
}
.content {
  display: flex;
  margin-left: 1rem;
  width: 10rem;
}
.inputLink::placeholder {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}
