.container {
  margin: 5rem;
  border: 0.125rem solid black;
  border-radius: 1rem;
  overflow: hidden;
  height: 52rem;
  width: 60rem;
}
.header {
  height: 5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3b3b3b;
  color: white;
}
.coachInformation {
  display: flex;
  justify-content: flex-start;
  margin-left: 5rem;
  width: 45rem;
}
.image {
  margin: 2rem;
  margin-right: 2rem;
  margin-left: 0rem;
  height: 20rem;
  width: 15rem;
  border: 0.125rem solid black;
  border-radius: 1rem;
  background-color: white;
}
.information {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.input {
  font-size: 1.5em;
}
.coachingText {
  display: flex;
  margin-left: 5rem;
}
.text {
  height: 30rem;
  width: 50rem;
}
.textarea {
  margin-top: 1rem;
  font-size: 1.5em;
  resize: none;
}
.btnContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-right: 2rem;
  height: 5rem;
}
