.container {
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 30rem;
}
.order {
  display: flex;
  width: 30rem;
  height: 3rem;
  align-items: center;
  justify-content: space-around;
}
.order img {
  background-repeat: no-repeat;
  object-fit: contain;
  height: rem;
  width: 5rem;
}
