.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin-left: 2rem;
  margin-top: 2rem;
}
.containerConentent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
