.container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}
.nav {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  padding: 10px 10px;
  cursor: pointer;
}
.nav:hover {
  background-color: #f2f2f8;
  border-radius: 5px;
  padding: 10px 10px;
}
.subnav {
  display: flex;
  align-items: flex-end;
  font-size: 1.2em;
  padding: 3px 3px;
  cursor: pointer;
  margin-left: 2rem;
}
.subnav:hover {
  background-color: #f2f2f8;
  border-radius: 5px;
  padding: 3px 3px;
}
