.container {
  display: flex;
  flex-direction: column;
  border: 0.125rem solid black;
  border-radius: 1rem;
  height: 25rem;
  width: 80rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: white;
  overflow: hidden;
  cursor: pointer;
}
.containerClose {
  display: flex;
  flex-direction: column;
  border: 0.125rem solid black;
  border-radius: 1rem;
  height: 5rem;
  width: 80rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: white;
  overflow: hidden;
}
.header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3b3b3b;
  color: white;
}
.contentText {
  font-size: 1.3em;
  margin: 2rem;
  justify-content: center;
  text-align: justify;
  overflow: hidden;
}
