.container {
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 20rem;
  justify-content: space-between;
}
.container h3 {
  margin: 0;
}
.contentContainer {
  display: flex;
}
.contentRow {
  display: flex;
  flex-direction: column;
}
.buttonContainer {
  display: flex;
  margin-top: 1rem;
  width: 20rem;
  justify-content: space-around;
}
