.container {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}
.headerContainer h1 {
  color: white;
}
.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 8rem;
  border: 0.125rem solid rgb(197, 196, 196);
  border-radius: 100rem;
  overflow: hidden;
  cursor: pointer;
  object-fit: cover;
}
.editIcon {
  cursor: pointer;
}

.profileContainer::after {
  content: "";
  display: block;
  margin-top: 1rem;
}
.btnContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20rem;
  height: 5rem;
}
.personals {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
