.header {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: space-around;
  margin-top: 20rem;
}
.containerComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 40rem;
  border: 0.125rem solid black;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  background-color: white;
  will-change: transform;
  transition: transform 0.25s ease-in-out;
}
.containerComponent:hover {
  transform: scale(1.05);
}
