.container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(197, 196, 196);
  border-radius: 1.125rem;
  width: 30;
  height: 35rem;
  overflow: hidden;
}
.header {
  display: flex;
  align-items: center;
  background-color: #eceef3;
  height: 3rem;
  overflow: hidden;
  border-bottom: 1px solid rgb(197, 196, 196);
}
.header h3 {
  margin-left: 2rem;
}
.content {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 35rem;
}
.contentHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}
.containerImg {
  height: 13rem;
  width: 13rem;
  object-fit: contain;
  background-repeat: no-repeat;
  border-radius: 0.25rem;
  overflow: hidden;
}
.img {
  height: 100%;
  width: 100%;
}
.stars {
  margin-left: 2rem;
}
.containerText {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 11rem;
  width: 35rem;
  overflow-y: scroll;
  text-align: justify;
}
.buttomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.socialsContainer {
  display: flex;
  width: 10rem;
  align-items: center;
  justify-content: space-around;
}
.containerButton {
  display: flex;
  width: 23rem;
  margin-top: 1rem;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
