.contentContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.searchContainer {
  display: flex;
  margin-left: 2rem;
  height: 3rem;
}
.gamesContainer {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.test {
  display: flex;
  flex-wrap: wrap;
  height: 32rem;
  overflow-y: scroll;
  justify-content: center;
}
/* .container {
  display: flex;
}
.container header {
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 2em;
  height: 5rem;
}
.containerSearch {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  margin-top: 5rem;
  margin-left: 5rem;
}
.gaming {
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-height: 50rem;
}
.searchKategory {
  display: flex;
  flex-direction: column;
}
.kategoryCB {
  width: 15rem;
  height: 2rem;
  background-color: none;
  color: black;
  font-weight: bold;
  border-color: black;
  border: solid 0.125rem black;
  border-radius: 0.5rem;
  justify-self: center;
}
.sortby {
  display: flex;
}
.sortbyLabel {
  font-size: 1.5em;
  margin-right: 1rem;
}

.containerGames {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
  overflow: hidden;
  overflow-y: scroll;
}
/* * Scrollbar */
/* 
.coachContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
}

.coachContainer::-webkit-scrollbar {
  width: 12px;
}

.coachContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */
