.container {
  display: flex;
  flex-direction: column;
  height: 30rem;
  width: 28rem;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.contentRow {
  display: flex;
  justify-content: space-between;
  width: 25rem;
  margin-top: 0;
}
