.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.container h1 {
  margin-left: 2rem;
  margin-top: 2rem;
  color: Black;
  height: 5%;
}
.searchCoach {
  display: flex;
  justify-content: space-around;
  height: 3rem;
  width: 30rem;
}
.coachProfiles {
  display: flex;
  flex-wrap: wrap;
  height: 32rem;
  overflow-y: scroll;
  justify-content: center;
}
.coachViewContainer {
  cursor: pointer;
  margin: 1rem;
}
