.contentContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  height: 41.5rem;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
