.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35rem;
  align-items: center;
}
.containerHeader {
  display: flex;
  width: 100rem;
}
.contentContainer {
  display: flex;
  justify-content: space-around;
  width: 80rem;
}
