.container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  height: 35rem;
  overflow-y: scroll;
}
.content {
  margin-left: 1rem;
  margin-right: 1rem;
}
.containerContent {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(197, 196, 196);
  /* border-bottom: 1px solid rgb(197, 196, 196); */
  width: 35rem;
}
.rowStyle {
  display: flex;
  margin-left: 2rem;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
}
.rowStyle2 {
  display: flex;
  margin-left: 2rem;
  height: 13rem;
  align-items: center;
  justify-content: space-between;
}
.rowStyle2 p {
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.textarea {
  resize: none;
  height: 10rem;
  width: 15rem;
  font-size: 1.3em;
}
.btnContainer {
  display: flex;
  margin-left: 17rem;
  width: 18rem;
  justify-content: space-between;
}
.input {
  height: 1.5rem;
  width: 15rem;
  font-size: 1.5em;
}
.paragraph {
  font-size: 1.1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
