.container {
  display: flex;
  height: 77rem;
  flex-direction: column;
  justify-content: space-around;
}
.helpContainer {
  display: flex;
  justify-content: flex-end;
}
.buttonContainer {
  display: flex;
  justify-content: space-around;
  width: 20rem;
  margin-right: 25rem;
}
