.container {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rowElement {
  width: 5rem;
}
.image {
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  object-fit: contain;
  box-shadow: none;
}
