.container {
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 82rem;
  /* background-color: #cbc8c8; */
}
.container h2 {
  margin-left: 2rem;
  margin-top: 2rem;
  color: Black;
  height: 5%;
}
.containerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchCourse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-left: 2rem;
  height: 3rem;
  width: 75rem;
  color: white;
  border-radius: 1rem;
  background-color: #00006d;
  font-weight: bold;
  cursor: pointer;
}
.searchCourse:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-left: 2rem;
  height: 3rem;
  width: 75rem;
  color: white;
  border-radius: 1rem;
  background-color: #000036;
  font-weight: bold;
  cursor: pointer;
}
.subscribbed {
  display: flex;
  flex-direction: column;
  border: solid 0.2rem white;
  border-radius: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  height: 25rem;
  width: 50rem;
}
.subscribbedClosed {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  height: 25rem;
  width: 50rem;
}
.subscribbedheader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  position: sticky;
  z-index: 1;
}
.subscribbedheader h1 {
  margin-top: 0.8rem;
  margin-left: 1rem;
  align-self: baseline;
}
.subscribbedheader span {
  margin-top: -1rem;
  margin-left: 1rem;
  color: white;
  font-size: 2rem;
}

.subscribbedList {
  overflow: auto;
}
.subscribbedListClosed {
  display: none;
  height: 0rem;
}

.subscribbedCoach {
  margin-left: 2rem;
  width: 50%;
  height: 1rem;
  border: solid 0.1rem white;
  border-radius: 1em;
  margin-bottom: 2rem;
  padding: 1rem;
}
.subscribbedHeader h1 {
  font-size: 2rem;
  margin-left: 0rem;
  align-self: baseline;
}
.subscribbedHeader span {
  color: white;
  margin-left: 3rem;
  align-self: center;
}

.subscribbedList ul {
  list-style-type: none;
}

.subcribbed span {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2rem;
  margin-right: 2rem;
}

.coachList {
  height: 10rem;
  width: 10rem;
}

/* Scrollbar */
.subscribbedList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
}

.subscribbedList::-webkit-scrollbar {
  width: 12px;
}

.subscribbedList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* CommingUp Table */
.commingUp {
  height: auto;

  overflow: auto;
}
.commingUp table {
  border-collapse: collapse;
}
.commingUpTableClosed {
  display: none;
}
.commingUp table td {
  font-size: 2rem;
  padding: 15px;
}
.commingUp table thead td {
  color: #ffffff;
  font-weight: bold;
  font-size: 2.1rem;
  border: 1px solid white;
}
.commingUp table tbody td {
  color: black;
  border: 1px solid #dddfe1;
}

.commingUp::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.commingUp::-webkit-scrollbar {
  width: 12px;
}

.commingUp::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
