.container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 2rem;
  height: 30rem;
  width: 20rem;
  border-radius: 1.125rem;
  /* box-shadow: 0px 0px 11px black; */
  background-color: white;
  border: 1px solid rgb(197, 196, 196);
  overflow: hidden;
}
.containerHeader {
  background-color: #eceef3;
  height: 5rem;
  width: 100%;
}
.containerHeader h3 {
  color: black;
  margin-left: 2rem;
}
.subslist {
  scroll-behavior: smooth;
  overflow: scroll;
  margin: 2rem;
}
