.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50rem;
}
.containerLayout {
  display: flex;
  background-color: white;
  flex-direction: row;
  align-items: center;
  height: 40rem;
  width: 60rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 11px black;
}

.containerLogin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 40rem;
  width: 85rem;
}
.loginLabel {
  align-self: center;
  font-size: 2.5rem;
  font-weight: bold;
}
.containerInput {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  width: 13rem;
  font-family: inherit;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.input {
  font-size: 2rem;
  border-radius: 0.5rem;
  border-color: inherit;
  outline: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 5rem;
  border-style: none;
  background-color: rgb(230, 230, 230);
}
::placeholder {
  color: rgb(175, 171, 171);
  font-size: 0.6em;
  padding: 1rem;
  opacity: 1; /* Firefox */
}
.fromLabel {
  margin-left: 3.5rem;
  transition: 0.2s;
  font-size: 2.5rem;
  color: rgb(195, 192, 192);
}
.containerLoginBtn {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  width: 25rem;
  height: 4rem;
  margin-top: 2rem;
  border: hidden;
  border-radius: 0.75rem;
  background-color: rgb(39, 38, 40);
  color: White;
  will-change: transform;
  transition: transform 0.25s ease-in-out;
}
.containerLoginBtn:hover {
  transform: scale(1.05);
}
.logo {
  height: 100px;
  width: 100px;
}
.containerSignUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: black;
  border-top-left-radius: 8rem 8rem;
  border-bottom-left-radius: 8rem 8rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  overflow: hidden;
}
.SignUpHeader {
  color: white;
  font-size: 3em;
}
.SignUpButton {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  width: 15rem;
  height: 4rem;
  margin-top: 6rem;
  border: hidden;
  border-radius: 0.75rem;
  background-color: rgb(39, 38, 40);
  color: White;
  will-change: transform;
  transition: transform 0.25s ease-in-out;
}
.SignUpButton:hover {
  transform: scale(1.05);
}
